*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    direction: ltr;
    unicode-bidi: isolate;
    font-size: 62.5%;
    font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
    background-color: #FFFAD9;
    box-shadow: 0.1em 0.1em 1em #ffca2b;
    border: 1px solid #FFCA2B;
}



/*Header*/

header .top_header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #fbcc3e;
    overflow-x: hidden;
}

header .header_derecha {  
    display: flex;
    justify-content:flex-start;
    width: 100%;
    align-items: center;
    padding-left: 40px;
}

header .logo_header {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 100px;
}

header .titulo_header{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 150px;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    color: #090000;
}

header .lista_header{
    width: 60%;
    font-weight: 600;
    font-size: 200%;
    padding-top: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFa;
    list-style: none;
}

ul li .secciónA {
    display: flex;
    padding-right: 40px;
    font-weight: 500;
    font-size: 2.3rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

/*Main*/

main .uwu{
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 162px);
}

main .columnas{
    display: flex;
    flex-direction: row;
    text-align: center;
}

main #column_A{
    padding-top: 10px;
    width: 50%;
    padding-right: 7px;
    padding-left: 15px;
}

main .mainimg{
    height: 200px;
    width: 200px;
    padding-top: 3px;
}

main .mainpokeb{
    height: 200px;
    width: 200px;
    padding-top: 3px;
}

main .whomagi{
    height: 220px;
    width: 270px;
    padding-top: 50px;
}

main #column_B{
    padding-top: 10px;
    width: 50%;
    padding-left: 7px;
    padding-right: 15px;
} 

main .main_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section{
    width: 80%;
}

aside{
    width: 20%;
}
main .magikarp1 {
    margin: auto;
    width: 75%;
    box-shadow: 2px 2px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 7px;
}

main .tablita {
    width: 100%;    
    padding-bottom: 20px;
    border: 2px  rgb(183, 202, 74);
    border-radius: 10px;
    background-color: #ffffff;
    justify-content: flex-end;
}

main .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

main .imagen_tabla {
    height: 170px;
}

main .dato {
    display: flex;
    justify-content: center;
}

main .cell_a {
    padding-right: 7px;
    font-size: 1.7rem;
    font-weight: 450;
}

main .magisad{
    width: 200px;
    align-self: center;
    border-radius: 20px;
}

h1{
    font-size: 200%;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

p{
    padding-left: 10px;
    padding-top: 18px;
    font-size:17px;
}


/*Footer*/

footer {
    width: 100%;
    background-color: #fbcc3e;
    min-height: 50px;
    display: flex;
    align-items: center;
}

footer .footer_izquierda {
    width: 120%;
    display: inline;
    color: #000000;
    font-size: 1.8rem;
    font-weight: bolder;
    padding-left: 20px;
}

footer .footer_derecha {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-right: 30px;
    align-items: center;
}

footer .footer_imagenes {
    display: flex;
    flex-direction: row;
}

footer .footer_imagenes--imagen {
    height: 40px;
    padding-right: 20px;
}
